body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    width: 100%;
    margin: 0;
    padding: 0;
}

article {
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    text-align: center; 
    color: white; 
    background-color: rgb(11, 21, 65); 
    padding: 35px 10px; 
    margin: 0; 
    border: 0;
}

h2 {
    margin-top: 10px;
}

h1.page-header {
    background-image: url("banner.jpeg"); 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 10px;
}

figcaption {
    font-size: 16px;
    padding-top: 10px;
    font-weight: 500;
}
/*Navigation CSS Starts
css from: "https://www.w3schools.com/howto/howto_css_subnav.asp"*/
.navbar {
    overflow: hidden;
    padding: 15px 10px; 
    background-color: rgb(165, 178, 218); 
    font-size: larger; 
    margin: 0;
}

.navbar a {
    float: left;
    text-align: center;
    display: inline;
    padding: 14px 16px;grid-template: ;
    text-decoration: none;
}

/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
}

  /* Subnav button */
  .subnav .subnavbtn {
    border: none;
    outline: none;
    font-size: inherit;
    padding: 14px 16px;
    font-family: inherit;
    background-color: inherit;
    margin: 0;
  }
  
  /* Add background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(110, 90, 133);
    color: white;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(110, 90, 133);
    width: 100%;
  }
  
  /*css help from - "https://www.w3schools.com/howto/howto_css_arrows.asp"*/
  .caret-down {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin: 5px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }

  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    color: rgb(114, 122, 239);
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
  /*Navigation CSS Ends*/

  /* table > td {
      vertical-align: top;
  } */
  /* .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
div{
    padding: 50px;
    text-align: center;
    border-style: solid;
    font-size: 2em;
} */
